body{
    background-color: rgba(17, 66, 99, 0.425);
    text-align: center;
}
h1{
    font-size: 50px;
    text-align: center;
    text-shadow: -4px 1px rgba(17, 66, 99, 0.479);
    color: rgb(5, 5, 5);
}
#cardsContainer{
    width: 1200px;
    height: 600px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    opacity: 0;
}
.fruitsImg{
    width: 300px;
    height: 250px;
    border-radius: 7px;
}
.fruitsName{
    font-size: 30px;

}
.card{
    border: 2px solid rgba(17, 66, 99, 0.658);
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    background-color: rgba(17, 66, 99, 0.527);
}
